opencv-python==4.13.0.92
numpy==2.4.2
imutils==0.5.4
Pillow==12.1.1
matplotlib==3.10.8
Flask==3.1.1
Flask-Cors==6.0.1
Flask-SQLAlchemy==3.1.1
SQLAlchemy==2.0.44
PyMySQL==1.1.2
psycopg[binary]==3.2.10
python-dotenv==1.1.1
requests==2.31.0
waitress==3.0.0